.Root {
  background-color: #191C1D;
  overflow-y: auto;
}

.Thread {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 60px 0;
  margin: 0 auto;
}

.ThreadTails {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}